footer.footer.footer--fixed(style='padding: .4rem 0; opacity: 0.75;')
    .content.u-text-center
        .row
            .col-8.mt-2
                h6.footer__title.white.uppercase #{footer.description} =>
            .col-4.mt-2
                button.btn.btn-small  Download the app
