$subMenuItemWidth: 175px;
$baseMenuBackground: #111;
$secondaryMenuBackground: #0186ba;
$baseMenuColor: #999;
$gutter: 1em;
$input: 'input[type=checkbox]';
$inputChecked: #fff;
$inputDisabled: #666;
$inputCheckedDisabled: #666;
$inputCheckedDisabledBackground: #666;
$flex-direction: row;

:root {
  --accent-color: #0186ba;
}
