.card.card--slide-up
  .card__container
    #splash-img
  .card__mobile-title
    .content
      .tile
        .tile__container
          p.tile
          p.tile__subtitle By John Doe
  .card__body.content.description
    p Located two hours south of Sydney in the Southern Highland of New South Wales...
  .card__footer.content 2 min. read 22 comments
